*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    background: linear-gradient(to right, #6441a5, #2a0845);
    /* clip-path: polygon(0% 0%, 25% 0%, 66% 53%, 100% 100%, 0% 100%); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    background-color: #fff;
    padding: 10px;
    width: 400px;
    box-shadow: 0, 2px, 10px black;
    border-radius: 10px;
}
h2{
    color: #2a0845;
}
img{
    cursor: pointer;
    margin: 5px;
    width: 20px;
}
.input{
    border: none;
    outline: none;
    border-bottom: 2px solid #2a0845;
    width: 80%;
    font-size: 25px;
    margin-bottom: 20px;
}
