*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./images/backgrd.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(72, 58, 58);
    background-blend-mode: multiply;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-decoration: underline green;
}
#person-img{
    border-radius: 70px;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 150px;
    

}
.btn{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}