*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    background-color: rgb(127, 138, 255);
    /* clip-path: polygon(0% 0%, 25% 0%, 66% 53%, 100% 100%, 0% 100%); */
}
input{
    position: absolute;
    top: 200px;
    left: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 0.45rem;
}